<div class="fa-info mt-3">
    <div class="fa-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="fa-brand">
        &copy;Wanderlust Private Limited
    </div>
    <div class="fa-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>