<%- layout('/layouts/boilerplate') %>
<div class="alert alert-danger d-flex align-items-center mt-3 d-flex justify-content-center" role="alert"> 
    <div class="ce">
        <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;&nbsp;<%=message%>
    </div>
  </div>